SenorPez/SenorPezPrincipal/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50585/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SenorPezServicio" />
  <xs:import schemaLocation="http://localhost:50585/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SenorPezServicio.DataMember" />
  <xs:import schemaLocation="http://localhost:50585/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Qaliwarma.Maestros.BE" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SenorPezServicio" minOccurs="0" name="_Obj" nillable="true" type="q1:BE_CARGO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SenorPezServicio" minOccurs="0" name="LoginResult" nillable="true" type="q2:BE_CARGO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GET_INFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SenorPezServicio.DataMember" minOccurs="0" name="_Obj" nillable="true" type="q3:BE_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GET_INFOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SenorPezServicio.DataMember" minOccurs="0" name="GET_INFOResult" nillable="true" type="q4:BE_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LISTAR_MENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Qaliwarma.Maestros.BE" minOccurs="0" name="_Obj" nillable="true" type="q5:BE_TBL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LISTAR_MENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Qaliwarma.Maestros.BE" minOccurs="0" name="LISTAR_MENUResult" nillable="true" type="q6:ArrayOfBE_TBL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LISTAR_PERSONAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SenorPezServicio" minOccurs="0" name="_Obj" nillable="true" type="q7:BE_CARGO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LISTAR_PERSONALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SenorPezServicio" minOccurs="0" name="LISTAR_PERSONALResult" nillable="true" type="q8:ArrayOfBE_CARGO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>