SenorPez/SenorPezPrincipal/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SenorPezServicio.DataMember" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SenorPezServicio.DataMember" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BE_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="iCodEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="iTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_INFO" nillable="true" type="tns:BE_INFO" />
</xs:schema>