SenorPez/SenorPezPrincipal/Service References/ServiceReference1/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Qaliwarma.Maestros.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Qaliwarma.Maestros.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BE_TBL_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="bActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="iCodEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="iCodEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="iCodMenuItem" type="xs:int" />
      <xs:element minOccurs="0" name="iCodPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="iTipo" type="xs:int" />
      <xs:element minOccurs="0" name="vIconMaterialize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vIpTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNombreAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNombreControlador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNombreMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNombreTerminal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_TBL_MENU" nillable="true" type="tns:BE_TBL_MENU" />
  <xs:complexType name="ArrayOfBE_TBL_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BE_TBL_MENU" nillable="true" type="tns:BE_TBL_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBE_TBL_MENU" nillable="true" type="tns:ArrayOfBE_TBL_MENU" />
</xs:schema>