SenorPez/SenorPezPrincipal/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SenorPezServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SenorPezServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="bActivo" type="xs:int" />
      <xs:element minOccurs="0" name="dtFechaRegistro" type="xs:int" />
      <xs:element minOccurs="0" name="iAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="iCodCargo" type="xs:int" />
      <xs:element minOccurs="0" name="iCodEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="vNombreCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cargo" nillable="true" type="tns:Cargo" />
</xs:schema>